
Prototype/Parts/Track parts/~$Idler.SLDPRT
Prototype/Parts/Track parts/~$Roller.SLDPRT
Prototype/Parts/Track parts/~$Sprocket.SLDPRT
Prototype/Parts/Track parts/~$trial side.SLDPRT
Prototype/Parts/Track parts/~$trial.SLDASM
Prototype/Parts/Body parts/~$hoooooood.SLDPRT
Prototype/Parts/Body parts/~$Box.SLDPRT
Prototype/Parts/Top layer parts/~$Assem3.SLDASM
Prototype/Parts/Top layer parts/~$compartment door.SLDPRT
Prototype/Parts/Top layer parts/~$Compartment making.SLDASM
Prototype/Parts/Top layer parts/~$Compartment.SLDPRT
Prototype/Parts/Body parts/~$1_Layer.SLDASM
Prototype/Parts/Body parts/~$Battery.SLDPRT
Prototype/Parts/Body parts/~$motor.step.SLDPRT
Prototype/Parts/Body parts/~$Layer-2_Mounting.SLDPRT
Prototype/Parts/Top layer parts/~$compartment door - No tolerance.SLDPRT
